aiohttp==3.7.4.post0
boto3==1.17.62
git+git://github.com/Rapptz/discord.py@746da7d54cc2bbcc4ba0f854257b647e88d77898#discord.py==2.0.0a0
# discord.py==1.7.3
git+git://github.com/discord-py-interactions/discord-py-interactions/@5ddbd4f303e14787e16a2c906bccd1a4e828ef6c#discord-py-slash-command==2.4.2a
# discord-py-slash-command==2.4.1
python-dotenv==0.17.0
pytz==2019.3
PyYAML==5.4.1
