aiohttp==3.7.4.post0
boto3==1.17.62
botocore==1.20.112
discord==1.0.1
discord-py-interactions==4.1.0
#discord-py-slash-command @ git+git://github.com/discord-py-interactions/discord-py-interactions/@18868bf3530359a8e4dd2da28aca9dc4183515f5
#discord.py==2.0.0a3245+g746da7d5
discord.py @ git+https://github.com/Rapptz/discord.py@746da7d54cc2bbcc4ba0f854257b647e88d77898#discord.py==2.0.0a0
isort==5.10.1
pony==0.7.14
python-dateutil==2.8.2
python-dotenv==0.17.0
pytz==2019.3
PyYAML==5.4.1
s3transfer==0.4.2
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.7
yarl==1.7.2
